{% extends "terminimal/templates/index.html" %}

{%- block title -%}
    {{ title_macros::title(page_title=section.title, main_title=config.title) }}
{%- endblock -%}

{% block content %}
    <div class="post">
        <h1 class="post-title">{{ section.title }}</h1>
        {{ post_macros::content(page=section, summary=false, show_only_description=false) }}
    </div>
{% endblock content %}

{% block footer %}
<footer class="footer">
    <div class="footer__inner">
        <div class="copyright">
            <span>© {{ date_macros::now_year() }} {{ config.extra.author }} | Powered by <a href="https://www.getzola.org/">Zola</a></span>
        </div>
    </div>
</footer>
{% endblock footer %}
